@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Young Serif", serif;
}

.hero {
  max-width: 1200px;
  margin: 50px 0;
  margin-inline: auto;

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.text-section {
  max-width: 1200px;
  margin-inline: auto;

  h1 {
    color: #292828;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    color: #4d4c4c;
  }
}

.features {
  max-width: 1200px;
  margin: 40px 0;
  margin-inline: auto;
  background: hsl(330, 100%, 98%);
  padding: 40px;
  border-radius: 20px;

  h2 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
  }

  ul {
    color: hsl(14, 45%, 36%);

    li {
      padding-left: 20px;
      font-weight: bold;
      color: #292828;
      span {
        color: gray;
        font-size: 16px;
        font-weight: 400;
        padding-left: 5px;
      }

    }
}
}

.categories {
  max-width: 1200px;
  margin-inline: auto;
  padding: 15px;
  border-bottom: 2px solid gray;
  h3 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
  }

  ul {
    font-family: sans-serif;

    li {
      color: gray;
      padding-left: 10px;
      font-weight: normal;
    }
  }
}

.recipe-instructions {
  max-width: 1200px;
  margin: 50px 0;
  margin-inline: auto;

  h3 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 10px;
  }

  ul {

    list-style-type: decimal;
    li {
      color: gray;
      padding-left: 20px;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: normal;
      margin-bottom: 20px;
      span {
        color: #4d4c4c;
        font-size: 18px;
        font-weight: bold;
      }
    }

  }
}

 .item-info {
  max-width: 1200px;
  margin-inline: auto;

  h3 {
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
  }

  p {
    color: gray;
    margin-bottom: 20px;
  }

  div {
    border-bottom: 2px solid gray;
    display: flex;

    p {
      font-weight: bold;
      color: gray;
      width: 100%;
    }
  }

  div p:nth-child(even) {
    color: brown;
  }
}

.attribution {
  text-align: center;
}

@media (max-width:768px) {
  .primary-style {
    padding-inline: 40px;
  }
}